<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  onload="this.media='all'" href="/public/css/uikit.css" />
  <title>{{title}}</title>
</head>