{{!-- <header>
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/category">Category</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/db">Users</a></li>
      </ul>
    </nav>
  </header> --}}
<header>
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/">about</a></li>
            <li class="uk-parent"><a href="/category">Category</a></li>
            <li><a href="/db">Users</a></li>
        </ul>
    </div>
</nav>
</header>