<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/category">Category</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>

  {{>foother}}


</body>
</html>